{
    "channel_id":"{{.Name}}",
    "isolated_data":{

    },
    "read_set":{
        "groups":{
            "Application":{
                "groups":{{.Organizations | jsonMarshal}},
                "mod_policy":"",
                "policies":{

                },
                "values":{

                },
                "version":"0"
            }
        },
        "mod_policy":"",
        "policies":{

        },
        "values":{
            "Consortium":{
                "mod_policy":"",
                "value":null,
                "version":"0"
            }
        },
        "version":"0"
    },
    "write_set":{
        "groups":{
            "Application":{
                "groups":{{.Organizations | jsonMarshal}},
                "mod_policy":"Admins",
                "policies":{
                    "Admins":{
                        "mod_policy":"Admins",
                        "policy":{
                            "type":3,
                            "value":{
                                "rule":"MAJORITY",
                                "sub_policy":"Admins"
                            }
                        },
                        "version":"0"
                    },
                    "Readers":{
                        "mod_policy":"Admins",
                        "policy":{
                            "type":3,
                            "value":{
                                "rule":"ANY",
                                "sub_policy":"Readers"
                            }
                        },
                        "version":"0"
                    },
                    "Writers":{
                        "mod_policy":"Admins",
                        "policy":{
                            "type":3,
                            "value":{
                                "rule":"ANY",
                                "sub_policy":"Writers"
                            }
                        },
                        "version":"0"
                    }
                },
                "values":{
                    "Capabilities":{
                        "mod_policy":"Admins",
                        "value":{
                            "capabilities":{
                                "V1_4_2":{

                                }
                            }
                        },
                        "version":"0"
                    }
                },
                "version":"1"
            }
        },
        "mod_policy":"",
        "policies":{

        },
        "values":{
            "Consortium":{
                "mod_policy":"",
                "value":{
                    "name":"{{.ConsortiumName}}"
                },
                "version":"0"
            }
        },
        "version":"0"
    }
}