{
    "groups":{},
    "mod_policy":"Admins",
    "policies":{
        "Admins":{
            "mod_policy":"Admins",
            "policy":{
                "type":1,
                "value":{
                    "identities":[
                        {
                            "principal":{
                                "msp_identifier":"{{.MSPIdentifier}}",
                                "role":"ADMIN"
                            },
                            "principal_classification":"ROLE"
                        }
                    ],
                    "rule":{
                        "n_out_of":{
                            "n":1,
                            "rules":[
                                {
                                    "signed_by":0
                                }
                            ]
                        }
                    },
                    "version":0
                }
            },
            "version":"0"
        },
        "Readers":{
            "mod_policy":"Admins",
            "policy":{
                "type":1,
                "value":{
                    "identities":[
                        {
                            "principal":{
                                "msp_identifier":"{{.MSPIdentifier}}",
                                "role":"ADMIN"
                            },
                            "principal_classification":"ROLE"
                        },
                        {
                            "principal":{
                                "msp_identifier":"{{.MSPIdentifier}}",
                                "role":"PEER"
                            },
                            "principal_classification":"ROLE"
                        },
                        {
                            "principal":{
                                "msp_identifier":"{{.MSPIdentifier}}",
                                "role":"CLIENT"
                            },
                            "principal_classification":"ROLE"
                        }
                    ],
                    "rule":{
                        "n_out_of":{
                            "n":1,
                            "rules":[
                                {
                                    "signed_by":0
                                },
                                {
                                    "signed_by":1
                                },
                                {
                                    "signed_by":2
                                }
                            ]
                        }
                    },
                    "version":0
                }
            },
            "version":"0"
        },
        "Writers":{
            "mod_policy":"Admins",
            "policy":{
                "type":1,
                "value":{
                    "identities":[
                        {
                            "principal":{
                                "msp_identifier":"{{.MSPIdentifier}}",
                                "role":"ADMIN"
                            },
                            "principal_classification":"ROLE"
                        },
                        {
                            "principal":{
                                "msp_identifier":"{{.MSPIdentifier}}",
                                "role":"CLIENT"
                            },
                            "principal_classification":"ROLE"
                        }
                    ],
                    "rule":{
                        "n_out_of":{
                            "n":1,
                            "rules":[
                                {
                                    "signed_by":0
                                },
                                {
                                    "signed_by":1
                                }
                            ]
                        }
                    },
                    "version":0
                }
            },
            "version":"0"
        }
    },
    "values":{
        "MSP":{
            "mod_policy":"Admins",
            "value":{
                "config":{
                    "admins":[
                        "{{.AdminCert}}"
                    ],
                    "crypto_config":{
                        "identity_identifier_hash_function":"SHA256",
                        "signature_hash_family":"SHA2"
                    },
                    "fabric_node_ous":{
                        "admin_ou_identifier":null,
                        "client_ou_identifier":{
                            "certificate":"{{.SignRootCert}}",
                            "organizational_unit_identifier":"client"
                        },
                        "enable":true,
                        "orderer_ou_identifier":null,
                        "peer_ou_identifier":{
                            "certificate":"{{.SignRootCert}}",
                            "organizational_unit_identifier":"peer"
                        }
                    },
                    "intermediate_certs":[

                    ],
                    "name":"{{.MSPIdentifier}}",
                    "organizational_unit_identifiers":[

                    ],
                    "revocation_list":[

                    ],
                    "root_certs":[
                        "{{.SignRootCert}}"
                    ],
                    "signing_identity":null,
                    "tls_intermediate_certs":[

                    ],
                    "tls_root_certs":[
                        "{{.TLSRootCert}}"
                    ]
                },
                "type":0
            },
            "version":"0"
        }
    },
    "version":"0"
}